<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title> All Listed Cruises </title>
        <link rel="icon" href="/images/tabLogo.png" type="image/png">

        <!-- CSS only -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
        <link href = "/public/css/style.css" rel ="stylesheet">
        <style>
            body {
                background-image:url('/images/kelpForest.png');
            }
          </style>
    
    </head>

<body>
  <h1>All Cruises</h1>
  <% for(let i = 0; i < rows.length; i++) { %>
    <div>
        Purpose: <%= rows[i].purpose %>
        <form action="/update/<%= rows[i].expedition_ID %>">
            <!-- Update post cruise if rows[i].post_cruise_complete == 0-->
            <button type="submit">Update</button>
        </form>
        <% if( rows[i].expedition_status == "Planned") { %>
        <form action="/updatePost/<%= rows[i].expedition_ID %>">
            <!-- Update post cruise if rows[i].post_cruise_complete == 0-->
            <button type="submit">Post Cruise Update</button>
        </form>
        <% } %>
    </div>
  <% } %>
  <footer>
    <div class="foottext">
        <!-- <img src='/images/horizontal-logo-withglow.png' class="footer-logo"> -->
        <p>Website is only for academic purposes. Capstone 2023© MBARI</p>
    </div>
</footer>
</body>
</html>