<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dive Information Form</title>
</head>
<body>
  <h1>MBARI Expedition Database</h1>
  <br>
  <a href="/login">Login</a>
  <br>
  <a href="/preexp">Pre Expedition</a>
  <br>
  <a href="/postexp">Post Expedition</a>
  <br>
  <a href="/dive">Dive</a>
  <br>
  <a href="/mbari-employee-dashboard">Employee Dashboard</a>
  <br>
  <a href="/registered-user-dashboard">User Dashboard</a>
  <br>
  <a href="/logistics-coordinator-dashboard">Logistics Dashboard</a>
</body>
</html>