<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dive Information Form</title>
</head>
<body>
  <h1>MBARI Expedition Database</h1>
  <br>
  <a href="/login">Login</a>
  <br>
  <a href="/allcruises">All Cruises</a>
  <br>
  <a href="/preexp">Pre Expedition</a>
  <br>
  <a href="/postexp">Post Expedition</a>
  <br>
  <a href="/dive">Dive</a>
  <br>
  <a href="/testSQL">TEST SQL INSERT.</a>
</body>
</html>