<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Post-Cruise Process</title>
  <link rel="icon" href="/images/tabLogo.png" type="image/png">
  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
  <link href="/css/style2.css" rel="stylesheet">
</head>

<body>
  <main class="container">
    <form class="columnTopSpace" action="/updatePost/<%= info[0].expedition_ID %>" method="POST">
      <h1>Post-Cruise Process</h1>
      <div class="form-row">
        <div class="form-column">
          <h3>Cruise ID: <%= info[0].expedition_ID %></h3>
          <label for="actualStartDatetime">Actual Start Datetime:</label><br>
          <input type="datetime-local" id="actualStartDatetime" name="actualStartDatetime">

          <label for="accomplishments">Accomplishments:</label>
          <input type="text" id="accomplishments" name="accomplishments">

          <label for="operatorComments">Operator Comments:</label>
          <input type="text" id="operatorComments" name="operatorComments">

          <label for="'sciObjectivesMet">Science Objectives Met:</label>
          <input type="checkbox" id="sciObjectivesMet" name="sciObjectivesMet">
        </div>

        <div class="form-column">
          <h3>Purpose: <%= info[0].purpose %></h3>
          <label for="actualEndDatetime">Actual End Datetime:</label>
          <input type="datetime-local" id="actualEndDatetime" name="actualEndDatetime">

          <label for="scientistComments">Scientist Comments:</label>
          <input type="text" id="scientistComments" name="scientistComments">


          <label for="otherComments">Other Comments:</label>
          <input type="text" id="otherComments" name="otherComments">

          <label for="'allEquipmentFunctioned">All Equipment Functioned:</label>
          <input type="checkbox" id="allEquipmentFunctioned" name="allEquipmentFunctioned">
        </div>
      </div>

      <div class="button-container">
        <button class="button">Submit</button>
      </div>

    </form>
  </main>

  <footer>
    <p>Website is only for academic purposes. Capstone 2023© MBARI</p>
  </footer>

</body>

</html>