<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MBARI Signup Page</title>
    <link rel="icon" href="/images/tabLogo.png" type="image/png">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" 
    rel="stylesheet" 
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
     crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        body {
        background-image: url('https://www.montereybayaquarium.org/globalassets/mba/images/animals/marine-mammals/sea-otter-wild-tr19-0747.jpg?format=webp&quality=60');
        }
    </style>
</head>
<body>
<div class="center-container">
    <form method="POST" action="/signup">
    <h2>Signup for MBARI</h2>
    
    First Name:
    <input type="text" name="firstname" required>
    <br>
    
    Last Name:
    <input type="text" name="lastname" required>
    <br>
    
    Email:
    <input type="email" name="email" required>
    <br>

    Password:
    <input type="password" name="password" required pattern=".{8,}" title="Password must be at least 8 characters long">
    <br>

    Role:
    <input type="text" name = "role" required>
    <br>

    Occupation:
    <input type="text" name = "occupation" required>
    <br>
    
    <button type="submit">Signup</button>
    </form>
</div>
    <footer>
        <div class="foottext">
            <!-- <img src='/images/horizontal-logo-withglow.png' class="footer-logo"> -->
            <p>Website is only for academic purposes. Capstone 2023© MBARI</p>
        </div>
    </footer>

</body>
</html>





