<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dive Information Form</title>
</head>
<body>
  <a href="/testSQLinsert">TEST SQL INSERT.</a>
  <form action="/testSQLinsert" method="POST">
    <input type="submit" value="Submit">
  </form>
</body>
</html>