.nav {
    background-color: #f5f5f5; /* example custom background color */
}

.nav .nav-link {
    color: #333; /* example custom link color */
}

.nav .nav-link:hover {
    color: #555; /* example custom hover color */
}

html, body {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f4f4; /* Optional: Adds a background color */
}

/* Center the container */
.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* Styling the form for better appearance */
form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
    width: 100%;
    max-width: 400px;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #ffffff;
    cursor: pointer;
}