html {
    scroll-behavior: smooth;
}

body {
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    overflow-x: auto;
}

.logo {
    position: absolute;
    top: 10px;
    right: 50px;
    width: 300px;
    height: 100px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 25px;
    width: 900px;
    height: 100px;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.columnTopSpace {
    padding-top: 20px;
}

select.round {
    background-image: linear-gradient(45deg, transparent 50%, gray 50%), linear-gradient(135deg, gray 50%, transparent 50%), radial-gradient(#ddd 70%, transparent 72%);
    background-position: calc(100% - 20px) calc(1em + 2px), calc(100% - 15px) calc(1em + 2px), calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
    margin-bottom: 10px;
}

select.round:focus {
    background-image: linear-gradient(45deg, white 50%, transparent 50%), linear-gradient(135deg, transparent 50%, white 50%), radial-gradient(gray 70%, transparent 72%);
    background-position: calc(100% - 15px) 1em, calc(100% - 20px) 1em, calc(100% - .5em) .5em;
    background-size: 5px 5px, 5px 5px, 1.5em 1.5em;
    background-repeat: no-repeat;
    border-color: green;
    outline: 0;
}

.textArea {
    width: 300px;
    height: 100px;
    padding: 0;
    border: none;
    outline: none;
    resize: none;
    border-bottom: 2px solid #ccc;
    margin-bottom: 10px;
}

.dateInput {
    border: .2em solid gray;
    padding: .8em .9em;
    border-radius: 2em;
    color: gray;
    margin-bottom: 10px;
}

.button {
    appearance: none;
    border: .2em solid gray;
    background: hsl(0 0 0/0);
    padding: .85em 1.5em;
    margin-top: 10px;
    margin-bottom: 10px;
    color: gray;
    border-radius: 2em;
    transition: 1s;
    &:hover, &:focus, &:active {
        background: gray;
        color: #fff;
    }
}

.nav {
    max-width: 800px; /* Set a maximum width for the form */
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7); /*Transparent black background for the header */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.nav a {
    color: #fff;
    margin: 0 15px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    /* background-image: url('https://www.montereybayaquarium.org/globalassets/mba/images/animals/marine-mammals/sea-otter-wild-tr19-0747.jpg?format=webp&quality=60'); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    color:#fff;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
form {
    max-width: 800px; /* Set a maximum width for the form */
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.7); /* Transparent black background */
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }

h1 {
    max-width: 800px; /* Set a maximum width for the form */
    margin-left: auto;
    margin-right: auto;
    /* background-color: rgba(0, 0, 0, 0.7); Transparent black background for the header */
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}


input, select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
    margin-right: 10px; /* Add right margin to space out the buttons */
  }

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

footer {
    font-family: Arial, Helvetica, sans-serif;
    color: #DEC4AD;
    background-color: #231F20;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 60px;
    margin-top: auto;  
    position: fixed;   
    width: 100%;       
    bottom: 0;        
}

.foottext {
    margin: auto;
    margin-top: 1%;
}

.modern-label {
    font-family: 'Arial', sans-serif;
    color: #333;
    font-size: 16px;
}

.modern-select {
    font-family: 'Arial', sans-serif;
    color: #555;
    font-size: 14px;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 200px;
}

.modern-select:hover {
    border-color: #231F20;
}

.modern-select option {
    background-color: #f5f5f5;
    color: #333;
}

.modern-select:focus {
    outline: none;
    border-color: #231F20;
}
.button-table {
    border-collapse: collapse;
    width: 100%; /* Adjust the width as needed */
  
}

.button-table td {
    padding: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh; /* Adjust the height as needed */
    background-color: white;
}
.button {
    display: block;
    width: 90%;
    padding: 10px;
    margin: 7px;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #28282B; /* Blue background color */
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.ic-DashboardCard {
    box-sizing: border-box;
    box-shadow: 0 2px 5px rgba(0,0,0,.3);
    border-radius: 4px;
    overflow: hidden;
    background: #fff;
    width: 262px;
    display: inline-block;
    vertical-align: top;
    margin: 36px 0 0 36px;
}
.ic-DashboardCard__header {
    position: relative;
    cursor: pointer;
    box-sizing: border-box;
}
.ic-DashboardCard__header_image {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.ic-DashboardCard__header_hero {
    box-sizing: border-box;
    height: 146px;
    border: 1px solid rgba(0,0,0,.1);
}
.search-container {
    position: absolute;
    margin: 10px;
}

.search-button {
padding: 10px;
background: #28282B; /* Your desired button color */
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
}

.search-button, i {
font-size: 16px; /* Adjust the size of the search icon */
}
.dropdown {
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .dropdown {
    display: inline-block;
  }

  .dropbtn {
    background-color: black;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  .dropdown-content .search-container {
    padding: 10px;
    display: flex;
    justify-content: center;
  }

  .dropdown-content .search-button {
    font-size: 16px;
    background-color: white;
    color: black;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
  .logout-form {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(255, 255, 255, 1);
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
  }
  .logout-link {
    color: black;
    text-decoration: none;
    background-color: rgba(255, 255, 255, 1);
    padding: 12px 16px;
    display: block;
  }

  .logout-link:hover {
    text-decoration: underline;
  }