.nav {
    background-color: #68b7e2;  /* Deep blue shade */
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.nav a {
    color: #005fa3;
    margin: 0 15px;
    text-decoration: none;
}

.nav a:hover {
    text-decoration: underline;
}

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-image: url('https://www.montereybayaquarium.org/globalassets/mba/images/animals/marine-mammals/sea-otter-wild-tr19-0747.jpg?format=webp&quality=60'); 
    background-size: cover; /* height is 100% of the viewport, width is auto */
    background-repeat: no-repeat; 
    background-position: center center; 
    background-attachment: scroll;
}

.center-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

form {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 350px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: #0077b6;
    margin-bottom: 20px;
}

input, select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    background-color: #0077b6;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005fa3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}

footer {
    background-color: #005fa3;
    color: #fff;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.button {
    background-color: #f8fcfe;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    transition: background-color 0.3s ease;
}

.button:hover {
    background-color: #868686;
}